/* Kommentare, Bugreports und Lob an:
   http://skybeam.de/blog/lesefreundliches-stylesheet-fefes-blog/
*/

* {margin:0; padding:0;}

body {background:#fefefe; color:#222; font:100%/1.5 Calibri,Verdana,Helvetica,sans-serif; max-width:750px; margin:0 auto 30px; padding:0 20px;}

/* Header */
.header {
  margin-top: 10px;
  background-color: yellow;
}


/* Articles */
ul {list-style:none; margin:0 0 50px 0; padding:0;}
ul li {background-color:#f7f7f7; margin:10px 0 20px 0; padding:15px;}
li:first-of-type {margin-top:0;}
li:last-of-type {margin-bottom:0;}

body > ul > li > a:first-child {background-color:#dbe7e4; color:#dbe7e4; font-size:70%; margin-right:6px; text-decoration:none; position:relative; bottom:2px;}
body > ul > li > a:hover:first-child {background-color:#c3d8d2; color:#c3d8d2;}

body > h2 + b {background-color:transparent; color:#9b9992; display:block; font-style:italic; font-weight:normal; margin:0; text-align:center;}
/* body > h2 + b + p {color:#9b9992; font-style:italic; margin-bottom:20px; text-align:center;} */
body > h2 + b + p a:link, body > h2 + b + p a:visited {color:#9b9992;}
body > h2 + b + p a:hover, body > h2 + b + p a:active, body > h2 + b + p a:focus {color:#444;}

/* body > div {color:#9b9992; font-style:italic; text-align:center;} */
body > div a {font-style:normal;}
body > div a:link:first-child, body > div a:visited:first-child {color:#3d7079;}
body > div a:hover:first-child, body > div a:active:first-child, body > div a:focus:first-child {color:#27484e;}
body > div a:link, body > div a:visited {color:#9b9992;}
body > div a:hover, body > div a:active, body > div a:focus {color:#444;}

::selection {background-color:#dbe7e4; color:#000;}
::-moz-selection {background-color:#dbe7e4; color:#000;}
:focus {outline:none;}
a:link {color:#3d7079;}
a:visited {color:#222;}
a:hover, a:active, a:focus {color:#27484e;}
abbr {border-bottom:none; cursor:help;}
blockquote {font-style:italic; background-color:#dbe7e4; margin:20px 10px; padding:10px; text-shadow:0 1px 0 rgba(255,255,255,.7);}
blockquote ul {margin:0;}
blockquote ul li {background:transparent; margin:0; padding:0;}
img {border:0;}
h2 {font-size:300%; text-align:center;}
h2 a:link, h2 a:visited {color:#415752; text-decoration:none;}
h2 a:hover, h2 a:active, h2 a:focus {color:#27484e;}
h3 {background-color:#88b1a6; border-bottom:1px solid #415752; border-top:1px solid #415752; color:#415752; font-size:150%; padding:10px 18px; text-align:center; text-shadow:0 1px 0  rgba(219,231,228,.5);}
h3.title {background-color:#fefefe; border-bottom:1px solid #415752; border-top:1px solid #415752; color:#415752; font-size:150%; margin-bottom:20px; padding:10px 18px; text-align:center; text-shadow:0 1px 0  rgba(219,231,228,.5);}
ul li ul {list-style:square; margin:20px 0; padding:0;}
ul li ul li, ul li ol li {margin:0 0 0 18px; padding:0;}
ul li ol {margin:20px 0; padding:0;}
pre, tt {background-color:#fefefe; border:1px solid #9b9992; font:100% Consolas,"Lucida Console","Andale Mono",Courier,monospace; margin:20px 10px; padding:5px;}

blockquote::selection { background:#fefefe; color:#000; }
blockquote::-moz-selection { background:#fefefe; color:#000; }

